body {
  background-color: #3d3d5c;
}

h1 {
  color:#c2c2d6;
  font-weight: bolder;
}

li {
  font-size: 0.7em;
}

.display {
  font-size: 2em;
  color: #008066
}

.selected {
  color: #22bdf0;
}

.list {
  padding-left:30px;
}

.keg-form {
  color:#c2c2d6;
}

.test {
  color: black;
}

.remain {
  background-color: #008066;
  color: #3d3d5c;
}

.wall {
  width: 50%;
  height: auto;
  float: right;
}

@media(max-width: 1025px) {
  .case {
    display: none;
  }

  .wall {
    float: right;
    width: 50%;
  }
}


@media(max-width: 767px) {
  .display {
    font-size: 1.4em;
    padding-left: 60px;
    color:#008066;
  }

  .wall {
    width: 100%;
    height: auto;
  }

  .selected {
    color: #22bdf0;
  }

}
