body {
  background-color: #3d3d5c;
}

h1 {
  color:#c2c2d6;
  font-size: 3.3em;
  font-weight: bolder;
}

.display {
  font-size: 1.4;
  padding-left: 60px;
  margin-top: 40px;
  color:#008066;
}

.selected {
  color: #22bdf0;
}

.list {
  padding-left:30px;
}

.keg-form {
  color:#c2c2d6;
}
